.firstspan{
    border: solid 1px green;
    margin: 5px;
    cursor: help;
    box-shadow: 2px 3px 170px -8px rgba(0,0,0,0.8); /*
    The box-shadow property is used to add shadow effects around an element's frame. 

    You can specify multiple effects separated by commas if you wish to do so.

    "horizontal shadow length (2px) | vertical shadow length (3px) | blur radius (170px) | spread radius (-8px) | shadow color"

    In the above used rgba function, shadow color opacity = 0.8
    */
}

.secondspan{
    border: dashed 1px green;
    margin: 5px;
    width: 160px;
    display: block;
    cursor: wait;
    box-shadow: 2px 3px 170px -8px rgba(0,0,0,0.8) inset; /* With the Box Shadow property, we can also use the value "inset" to have an inner shadow. */
}

.thirdspan{
    border: solid 1px green;
    margin: 5px;
    display: inline;
    cursor: crosshair;
}

.fourthspan{
    margin: 5px;
    border: solid 1px green;
    display: none;
}

.fifthspan{
    margin: 5px;
    font-size: 30px;
    border: solid 1px green;
    visibility: visible;
}

.sixthspan{
    margin: 5px;
    font-size: 50px;
    border: solid 1px green;
    visibility: hidden;
}

p{
    color: chocolate;
    background-image: url("https://4.bp.blogspot.com/-cibC376RUHQ/VzsmvGC4YLI/AAAAAAAAB_Y/H0PfW_nUTZUt2qmmdPbaF_Qeh5l-DM9mwCLcB/w1200-h630-p-k-no-nu/barcelona%2Blogo.jpg");
    background-repeat: repeat;
    width:800px;
    height: 430px;
}

section{
    color: blue;
    font-size: 20px;
    background-image: url("About us/dog_2_big.jpg");
    background-repeat: repeat-y;
    width:700px;
    height: 600px;
}