doctype html
html(lang='en')
 head
  title= mytitle 
 body 
  h1= message 
  div.container 
  p Starting with PUG!

  //- In HTML format, we would hav written the above peice as <div class="container"> </div> //

  //- Indentation is very critical in pug//