doctype html
html(lang='en')
  head
    title Simple site using Node.js, Express and Pug
    link(rel='stylesheet',href="/css/May19_styles.css")
    block May19_styles
    script(src="js/May19_nodemon.js")
    block May19_nodemon
  body
    block content